<div class="card card-inverse text-xs-center"
     [class.card-outline-success]="status == cardStatus.Save"
     [class.card-outline-warning]="status == cardStatus.Warning"
     [class.card-outline-danger]="status == cardStatus.Danger"
     [class.card-outline-secondary]="status == cardStatus.IsLoading || status == cardStatus.Error">
    <div class="card-block">
        <div class="card-text">
            <span *ngIf="!model.balance" ><i class="fa fa-circle-o-notch fa-spin fa-fw input-loader"></i></span>
            <span *ngIf="model.balance">
                <span>{{ model.balance | number:'1.2-2' }}</span>
                <span [buttonSpinner]="status == cardStatus.IsLoading" iconClass="fa-refresh" class="btn btn-refresh" (click)="update()"><i class="fa fa-refresh"></i></span>
            </span>
        </div>
    </div>
</div>
