<div>
    <button class="btn btn-primary btn-sm" *ngIf="!isPlaying" [disabled]="!isReady" (click)="play()"><i class="fa fa-play"></i></button>
    <button class="btn btn-outline-primary btn-sm" *ngIf="isPlaying" [disabled]="!isReady" (click)="pause()"><i class="fa fa-pause"></i></button>
    <button class="btn btn-primary btn-sm" [disabled]="!isReady" (click)="stop()"><i class="fa fa-stop"></i></button>
    <button class="btn btn-link btn-sm" [disabled]="!isReady" (click)="mute()"><i class="fa" [class.fa-volume-up]="!isMuted" [class.fa-volume-off]="isMuted"></i></button>
</div>