@using System.Threading.Tasks
@using WebTelNET.Auth.Libs
@model WebTelNET.Auth.Libs.AccountConfirmationMailContext

<h1>Здрасьте, приехали!</h1>

<div>Хотите аккаунт завести, я смотрю? Оно вам надо? Вот нам нет.. Не нужны ваши эти все звони-хрензвонки.. Купите просто подписку на год и забудьте. Спасибо!</div>

Данные для входа:
<h4>Логин: @Model.SignUpViewModel.Login</h4>
<h4>Пароль: @Model.SignUpViewModel.Password</h4>
<h5>@Model.DateTime</h5>