@using System.Threading.Tasks
@using WebTelNET.Auth.Libs
@model WebTelNET.Auth.Libs.AccountConfirmationMailContext

<h1>Здрасьте, приехали!</h1>

<div>Хотите аккаунт завести, я смотрю? Оно вам надо? Вот нам нет.. Не нужны ваши эти все звони-хрензвонки.. Купите просто подписку на год и забудьте. Спасибо!</div>

<h4>@Model.Login</h4>
<h4><a href="http://www.fakeupdate.net/win7/index.html">@Model.RequestCode</a></h4>
<h5>@Model.DateTime</h5>

<div>P. S. Перейдите по ссылке и нажмине ENTER</div>