@model bool

<!doctype html>
<html>
<head>
    <title>WebTel.NET.PBX</title>
    <base href="~/">
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="ascii">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,100" />

    <!-- TODO: compile and connect with gulp -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/sidepanel.min.css" />
    <link rel="stylesheet" href="styles/font-awesome.min.css" />
    <link rel="stylesheet" href="styles/styles.css" />
    <link rel="stylesheet" href="styles/datepicker.css" />
    <link rel="stylesheet" href="styles/sidebar.css"/>

    <script src="node_modules/core-js/client/shim.min.js"></script>
    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/reflect-metadata/Reflect.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>
    <script src="systemjs.config.js"></script>
    @if (Model)
    {
        <script>
            System.import('app').catch(console.error.bind(console));
        </script>
    }
    else
    {
        <script>
            System.import('app-setup').catch(console.error.bind(console));
        </script>
    }

</head>
<body>
    @if (Model)
    {
        <pbx-app-root>
            <div class="container-fluid m-y-3">
                <h4 class="text-xs-center"><i class="fa fa-cog fa-spin fa-fw"></i> Загрузка...</h4>
            </div>
        </pbx-app-root>
    }
    else
    {
        <pbx-setup-app-root>
            <div class="container-fluid m-y-3">
                <h4 class="text-xs-center"><i class="fa fa-cog fa-spin fa-fw"></i> Загрузка...</h4>
            </div>
        </pbx-setup-app-root>
    }
</body>
