<!doctype html>
<html>
<head>
    <title>WebTel.NET.PBX</title>
    <base href="~/">
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="ascii">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,100" />

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/font-awesome.min.css" />
    <link rel="stylesheet" href="styles/styles.css" />

</head>
<body>

<div class="container-fluid m-y-3">
    <h4 class="text-xs-center">Сервис недоступен :(</h4>
    <h5 class="text-xs-center">Свяжитесь с <a href="mailto:">администратором</a>, чтобы узнать возможность подключения сервиса</h5>
</div>

</body>
