<ng-sidebar-container class="sidepanel">
    <ng-sidebar [(opened)]="shownSidePanel" [animate]="false" [mode]="'dock'" [dockedSize]="'50px'" [position]="'left'" [showBackdrop]="false" [closeOnClickOutside]="false" [autoFocus]="false">

        <ul class="sidebar-nav wide" *ngIf="shownSidePanel">
            <li class="sidebar-brand text-xs-center m-b-2">
                <!--<img class="" src="../img/logo-new.png" width="40"/>-->
            </li>
            <li [routerLink]="['/']" routerLinkActive="is-active"><a>Услуги</a></li>
            <li [routerLink]="['/about']" routerLinkActive="is-active"><a>Позвонить</a></li>
            <!--<li [routerLink]="['/getscript']" routerLinkActive="is-active"><a>Скрипт</a></li>-->
            <li (click)="shownSidePanel = !shownSidePanel"><a><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
        </ul>

        <ul class="sidebar-nav" *ngIf="!shownSidePanel">
            <li class="sidebar-brand text-xs-center m-b-2">
                <!--<img class="" src="../img/logo-new.png" width="30"/>-->
            </li>
            <li [routerLink]="['/']" routerLinkActive="is-active"><a><i class="fa fa-cogs" aria-hidden="true"></i></a></li>
            <li [routerLink]="['/about']" routerLinkActive="is-active"><a><i class="fa fa-phone" aria-hidden="true"></i></a></li>
            <!--<li [routerLink]="['/getscript']" routerLinkActive="is-active"><a><i class="fa fa-code" aria-hidden="true"></i></a></li>-->
            <li (click)="shownSidePanel = !shownSidePanel"><a><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
        </ul>
    </ng-sidebar>

    <main>
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 p-a-1">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </main>
</ng-sidebar-container>

<modal-control></modal-control>
