<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row">
        <div class="col-md-5">
            <div class="form-group row">
                <div class="col-md-12">
                    <input type="text" class="form-control" tabindex="1"
                           [textMask]="{mask: mask, placeholderChar: placeholderChar}" (change)="onFromChanged()"
                           id="from" placeholder="Откуда звоним" formControlName="from" name="from" autocomplete="off" />
                    <i *ngIf="fromLoading" [@InOut]="fromLoading" class="fa fa-circle-o-notch fa-spin fa-fw input-loader"></i>
                </div>
            </div>
            <price-info *ngIf="fromPriceInfo" [@InOut]="fromPriceInfo" [model]="fromPriceInfo"></price-info>
        </div>
        <div class="col-md-2 text-xs-center">
            <div class="form-group row">
                <div class="col-md-12">
                    <button class="btn btn-link" type="button" (click)="replaceNumbers()"><i class="fa fa-exchange text-muted"></i></button>
                </div>
            </div>
            <div class="form-group row hidden-sm-down">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary rounded-circle" [disabled]="form.invalid || submiting"><i class="fa fa-phone"></i></button>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group row">
                <div class="col-md-12">
                    <input type="text" class="form-control" tabindex="2"
                           [textMask]="{mask: mask, placeholderChar: placeholderChar}" (change)="onToChanged()"
                           id="to" placeholder="Куда звоним" formControlName="to" name="to" autocomplete="off" />
                    <i *ngIf="toLoading" [@InOut]="toLoading" class="fa fa-circle-o-notch fa-spin fa-fw input-loader"></i>
                </div>
            </div>
            <price-info *ngIf="toPriceInfo" [@InOut]="toPriceInfo" [model]="toPriceInfo"></price-info>
        </div>
    </div>
    <div class="form-group row hidden-md-up">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary w-100" [disabled]="form.invalid || submiting"><i class="fa fa-phone"></i> Позвонить</button>
        </div>
    </div>
</form>